{% extends "layouts/dashboard_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ page_title }} - MedShift Scheduler{% endblock %}

{% block dashboard_content %}
{# Breadcrumbs #}
{% include "core/components/breadcrumbs.html" with items=breadcrumb_items %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        {% include "core/components/page_header.html" with title=page_title subtitle="Department information" back_url=cancel_url %}
        
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        {% include "core/components/form_field.html" with field=form.name col_class="col-12" %}
                        
                        {% include "core/components/form_field.html" with field=form.code col_class="col-md-6" help_text="Short code for the department (e.g., URG, CHIR, MED)" %}
                        
                        {% include "core/components/form_field.html" with field=form.manager col_class="col-md-6" %}
                        
                        {% include "core/components/form_field.html" with field=form.description col_class="col-12" %}
                        
                        <div class="col-12 mb-3">
                            <div class="form-check">
                                {{ form.is_active }}
                                <label class="form-check-label" for="{{ form.is_active.id_for_label }}">
                                    {% trans "Active Department" %}
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    {% include "core/components/action_buttons.html" with cancel_url=cancel_url submit_text="Save Department" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}