{% extends "layouts/dashboard_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Delete Department" %} - MedShift Scheduler{% endblock %}

{% block dashboard_content %}
{# Breadcrumbs #}
{% include "core/components/breadcrumbs.html" with items=breadcrumb_items %}

{% if emp_count > 0 %}
    {% include "core/components/confirm_delete.html" with title="Delete Department?" message=message_html blocking_message=blocking_html cancel_url=list_url back_text="Back to Departments" %}
{% else %}
    {% include "core/components/confirm_delete.html" with title="Delete Department?" message=message_html cancel_url=list_url confirm_text="Delete Department" %}
{% endif %}
{% endblock %}