{% extends "layouts/dashboard_layout.html" %}
{% load static i18n %}

{% block title %}{{ page_title }} - MedShift Scheduler{% endblock %}

{% block dashboard_content %}

{% comment %} English: Breadcrumbs navigation {% endcomment %}
{% include "core/components/breadcrumbs.html" with breadcrumb_items=breadcrumb_items %}

{% comment %} English: Page header with back button {% endcomment %}
{% include "core/components/page_header.html" with title=page_title subtitle=page_subtitle show_back=True back_url=cancel_url %}

{% comment %} English: Form container - all HTML is in component {% endcomment %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        {% include "core/components/form_container.html" with forms=forms sections=form_sections enctype='multipart/form-data' cancel_url=cancel_url submit_text=submit_text %}
    </div>
</div>

{% endblock %}