{% extends "layouts/dashboard_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Positions" %} - MedShift{% endblock %}

{% block dashboard_content %}

    {# Statistics #}
    {% if stats_cards %}
        {% include "core/components/stats_row.html" with stats_cards=stats_cards %}
    {% endif %}

    {# Filters #}
    {% if filters %}
        {% include "core/components/filter_bar.html" with filters=filters has_active=has_active_filters %}
    {% endif %}

    {# Table #}
    {% include "core/components/data_table.html" with columns=table_columns rows=table_rows empty_state=empty_state_config %}

    {# Pagination #}
    {% if is_paginated %}
        {% include "core/components/pagination.html" with page_obj=page_obj querydict=request.GET %}
    {% endif %}

{% endblock dashboard_content %}

