{% extends "layouts/dashboard_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Delete Position" %} - MedShift Scheduler{% endblock %}

{% block dashboard_content %}

    {% include "core/components/confirm_delete.html" with has_blocking_refs=has_blocking_refs blocking_refs=blocking_refs blocking_message=blocking_message blocking_title=_("Cannot Delete Position") cancel_url=cancel_url cancel_text=_("Back to Position") confirm_text=_("Delete Position") %}
    
{% endblock %}
