{% extends "layouts/dashboard_layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ position.title }} - {% trans "Position" %} - MedShift{% endblock %}

{% block dashboard_content %}

{# Breadcrumbs #}
{% include "core/components/breadcrumbs.html" with breadcrumb_items=breadcrumb_items %}

{# Page Header #}
{% include "core/components/page_header.html" with title=page_title subtitle=page_subtitle icon="work" show_back=True back_url=back_url actions=header_actions %}

{# Universal Detail Layout with Component Blocks and Tabs #}
{% include "core/components/detail_layout.html" with sidebar_blocks=sidebar_blocks content_blocks=content_blocks tabs=tabs active_tab=active_tab stats_cards=stats_cards %}

{% endblock dashboard_content %}
